<div id="JaegerStats">

    <ul class="graphs"> 
        <li *ngFor="let graph of graphs">
            <button [class.selected]="graph === selectedGraph" type="button" (click)="onSelect(graph)">
              <span class="nr">{{graph.id}}</span>
              <span class="name">{{graph.name}}</span>
            </button>
          </li>    
    </ul>

    <div *ngIf="selectedGraph">
        <h2>{{selectedGraph.name | uppercase}} Details</h2>
        <div>id: {{selectedGraph.id}}</div>
        <div>
          <label for="graph-name">Call-Path: </label>
          <input id="graph-name" [(ngModel)]="selectedGraph.name" placeholder="name">
        </div>
      </div>

    <div id="divChart">
        <p>count</p>
        <canvas id="jaegerChart-1"></canvas>
        <p>Average duration</p>
        <canvas id="jaegerChart-2"></canvas>
        <p>P75 duration</p>
        <canvas id="jaegerChart-3"></canvas>
        <p>p90 duration</p>
        <canvas id="jaegerChart-4"></canvas>
        <p>...</p>
        <canvas id="jaegerChart-5"></canvas>
        <p>...</p>
        <canvas id="jaegerChart-6"></canvas>
        <p>...</p>
        <canvas id="jaegerChart-7"></canvas>
        <p>...</p>
        <canvas id="jaegerChart-8"></canvas>
        <p>...</p>
        <canvas id="jaegerChart-9"></canvas>
        <p>Fraction of traces with error-logs included</p>
        <canvas id="jaegerChart-10"></canvas>
    </div>
    
</div>

