<div class="card gap-4 flex">
    <div>
        <h4 class="font-medium mt-0 mb-2">Ranking</h4>
        <p-dropdown [options]="rankingOptions" [(ngModel)]="selectedRanking" optionLabel="label" (onChange)="changeRanking($event.value)"></p-dropdown>
    </div>
    <div>
        <h4 class="font-medium mt-0 mb-2">Equalize</h4>
        <p-dropdown [options]="stateOptions" [(ngModel)]="isEqualized" optionLabel="label" optionValue="value" (onChange)="changeEqualizer($event.value)"></p-dropdown>
    </div>
</div>
