<section>
    <header class="mb-2">
        <h2 class="font-medium mb-2">Call-chains details</h2>
    </header>

    <div class="flex gap-3">
        <div class="flex flex-column gap-2">
            <label htmlFor="chain-avg-count-filter">Min. count</label>
            <p-inputNumber id="chain-avg-count-filter" inputId="integeronly" [(ngModel)]="avgCount" [size]="1"
                (onInput)="changeAvgCount(+$event.value)" />
        </div>

        <div class="flex flex-column gap-2">
            <label htmlFor="chain-scope-filter">Scope</label>
            <p-dropdown id="chain-scope-filter" [options]="scopes" [(ngModel)]="selectedScope"
                (onChange)="changeScope($event)"></p-dropdown>
        </div>

        <div class="flex-grow-1 flex flex-column gap-2">
            <label htmlFor="chain-filter">Select call-chain</label>
            <p-autoComplete id="chain-filter" class="flex-grow-1" styleClass="flex-grow-1" [style]="{
                width: '100%',
            }" [(ngModel)]="selectedRelatedProcess" [suggestions]="filteredRelatedProcesses" field="display"
                placeholder="Search related full call-chains..." [dropdown]="true" (onSelect)="changeProcess($event)"
                (completeMethod)="filterProcess($event)">
                <ng-template let-process pTemplate="item">
                    <span class="block">{{ process.display }}</span>

                    <div class="card flex align-items-center gap-2 flex-wrap mt-2">
                        <p-chip>
                            <small class="p-1">Id {{process.idx}}</small>
                        </p-chip>
                        <p-chip>
                            <small class="p-1">Avg. count {{ process.avgCount }}</small>
                        </p-chip>
                        <p-chip>
                            <small class="p-1">Growth {{ process.rank | rankingPercentage }}</small>
                        </p-chip>
                        <p-chip>
                            <small class="p-1">{{ process.chainType }}</small>
                        </p-chip>
                        <p-chip *ngIf="selectedScope === 'end2end'">
                            <small class="p-1">Inbound-id {{ process.inboundIdx }}</small>
                        </p-chip>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>


    <!-- Selected process -->
    <div class="card flex align-items-center gap-2 flex-wrap mb-3 mt-2"
        *ngIf="_dashboard.selectedRelatedProcess$ | async as process">
        <p-chip>
            <small class="p-1">{{process.display}}</small>
        </p-chip>
        <p-chip>
            <small class="p-1">Id {{process.idx}}</small>
        </p-chip>
        <p-chip>
            <small class="p-1">Avg. count {{ process.avgCount }}</small>
        </p-chip>
        <p-chip>
            <small class="p-1">Growth {{ process.rank | rankingPercentage }}</small>
        </p-chip>
        <p-chip>
            <small class="p-1">{{ process.chainType }}</small>
        </p-chip>
        <p-chip *ngIf="selectedScope === 'end2end'">
            <small class="p-1">Inbound-id {{ process.inboundIdx }}</small>
        </p-chip>
    </div>

    <ng-container *ngIf="{
        charts: (charts$ | async)! | sortChartsByRanking:(_dashboard.selectedRanking$ | async)!
    } as data">
        <ng-container *ngTemplateOutlet="data.charts?.length ? relatedCharts : noRelatedProcessSelected; context: {
                charts: data.charts
            }"></ng-container>
    </ng-container>

</section>

<ng-template #relatedCharts let-charts="charts">
    <p-panel *ngFor="let chart of charts" [header]="_dashboard.getChartPanelHeader(chart.metric)" [toggleable]="true"
        toggler="header" styleClass="mb-3">
        <p-chart type="line" [data]="chart.data" [width]="'100%'" [height]="'275px'"
            [options]="chart.options ?? {}"></p-chart>

        <div *ngIf="chart.description?.length"
            class="border-round border-1 border-solid border-gray-300 pt-2 px-3 mt-3">
            <h5 class="font-medium m-0 mb-2 pb-2 border-none border-bottom-1 border-solid border-gray-300">Description
            </h5>
            <div class="grid">
                <div *ngFor="let item of chart.description" class="col">
                    {{item[1]}}
                    <small class="block text-xs">{{item[0]}}</small>
                </div>
            </div>
        </div>
    </p-panel>
</ng-template>

<ng-template #noRelatedProcessSelected>
    <p class="text-600">Select a related call-chain</p>
</ng-template>