<section>
    <header class="mb-2">
        <h2 class="font-medium mb-2">Call-chains details</h2>
    </header>

    <div class="flex gap-2">
        <p-autoComplete 
            class="flex-grow-1" 
            styleClass="mb-2 flex-grow-1" 
            [style]="{
                width: '100%',
            }" 
            [autoHighlight]="true"
            [(ngModel)]="selectedRelatedProcess" 
            [suggestions]="filteredRelatedProcesses"
            field="display" 
            placeholder="Search related full call-chains..."
            [dropdown]="true"
            (onSelect)="changeProcess($event)" 
            (completeMethod)="filterProcess($event)"
        >
            <ng-template let-process pTemplate="item">
                <span class="block">{{ process.display }}</span>
                <small 
                    [ngClass]="{
                        'text-orange-500': process.rank >= 0.5,
                        'text-cyan-500': process.rank < 0.5 && process.rank >= 0.25,
                        'text-green-500': process.rank < 0.25 && process.rank >= 0.1,
                        'text-indigo-500': process.rank < 0.1,
                    }"
                >
                    {{ process.rank | rankingPercentage }}
                </small>
            </ng-template>
        </p-autoComplete>

        <p-selectButton [(ngModel)]="selectedScope" [options]="scopes"
            (onChange)="changeScope($event)"></p-selectButton>

    </div>

    <!-- Selected process -->
    <ng-container *ngIf="_dashboard.selectedRelatedProcess$ | async as process">
        <small class="block mb-4 text-500">Selected: {{ process.display }}</small>
    </ng-container>

    <ng-container *ngIf="{
        charts: (charts$ | async)! | sortChartsByRanking:(_dashboard.selectedRanking$ | async)!
    } as data">
        <ng-container *ngTemplateOutlet="data.charts?.length ? relatedCharts : noRelatedProcessSelected; context: {
                charts: data.charts
            }"></ng-container>
    </ng-container>

</section>

<ng-template #relatedCharts let-charts="charts">
    <p-panel *ngFor="let chart of charts" [header]="_dashboard.getChartPanelHeader(chart.metric)" [toggleable]="true"
        toggler="header" styleClass="mb-3">
        <p-chart 
            type="line" 
            [data]="chart.data" 
            [width]="'100%'" 
            [height]="'275px'"
            [options]="chart.options ?? {}"
        ></p-chart>

        <div *ngIf="chart.description?.length"
            class="border-round border-1 border-solid border-gray-300 pt-2 px-3 mt-3">
            <h5 class="font-medium m-0 mb-2 pb-2 border-none border-bottom-1 border-solid border-gray-300">Description
            </h5>
            <div class="grid">
                <div *ngFor="let item of chart.description" class="col">
                    {{item[1]}}
                    <small class="block text-xs">{{item[0]}}</small>
                </div>
            </div>
        </div>
    </p-panel>
</ng-template>

<ng-template #noRelatedProcessSelected>
    <p class="text-600">No related processes yet</p>
</ng-template>