<app-page-header pageName="Dashboard" [breadcrumb]="breadcrumb">
    <app-dashboard-header-metrics
            metrics
            [users]="3322"
            [sessions]="4591"
            [duration]="2.32"
    ></app-dashboard-header-metrics>
</app-page-header>

<p-toolbar>
    <div class="p-toolbar-group-start">
        {{graphs | json}}
        <div class="card flex justify-content-center">
            <p-autoComplete 
                [(ngModel)]="selectedItem" 
                [suggestions]="suggestions"
                (completeMethod)="search($event)"></p-autoComplete>
        </div>
    </div>
</p-toolbar>