<app-page-header [pageName]="pageName" [breadcrumb]="breadcrumb">
    <app-dashboard-header-metrics
        metrics
        [users]="3322"
        [sessions]="4591"
        [duration]="2.32"
    ></app-dashboard-header-metrics>
</app-page-header>

<app-dashboard-filterbar
    [processes]="processes"
></app-dashboard-filterbar>

<!-- Selected process -->
<ng-container *ngIf="_dashboard.selectedProcess$ | async as process">
    <small class="block mt-2 text-500">Selected: {{ process.name }}</small>
</ng-container>

<div class="grid mt-4 gap-5">
    <div class="col">
        <ng-container *ngIf="!chartsError; else chartErrorMessage">
            <app-process-charts></app-process-charts>
        </ng-container>
        <ng-template #chartErrorMessage>
            <p>{{ chartsError }}</p>
        </ng-template>
    </div>
    <div class="col">
        <app-related-processes></app-related-processes>
    </div>
</div>